TP_WSDL/catalogue/catalogueDeProduits.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="catalogue_de_produits"
  targetNamespace="http://ecommerce.com/catalogue_de_produits"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <message name="getProductRequest"> <!-- Message échangé entre le client & serveur -->
    <part name="productId" type="xsd:string"/>
  </message>

  <message name="getProductResponse"> <!-- Message échangé entre le client & serveur -->
    <part name="product" type="tns:Product"/>
  </message>

    <!-- Produit -->
  <complexType name="Product">
    <sequence>
      <element name="id" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="price" type="xsd:float"/>
    </sequence>
  </complexType>

    <!-- Recevoir le produit -->
  <portType name="ProductCatalogPortType"> <!-- (Le portType définit l'ensemble des opérations possibles entre le client et le serveur) -->
    <operation name="getProduct">
      <input message="tns:getProductRequest"/>
      <output message="tns:getProductResponse"/>
    </operation>
  </portType>

    <!-- Binding en SOAP -->
  <binding name="ProductCatalogBinding" type="tns:ProductCatalogPortType"> <!-- (attribut le portTypes à un protocole spécifique, genre HTTP ou SOAP) -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getProduct">
      <soap:operation soapAction="http://ecommerce.com/catalogue_de_produits/getProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="ProductCatalogService"> <!-- Le service associe un Binding à une URL -->
    <port name="ProductCatalogPort" binding="tns:ProductCatalogBinding">
      <soap:address location="http://ecommerce.com/catalogue_de_produits"/>
    </port>
  </service>

</definitions>
